.modal__container {
  position: fixed;
  background-color: #0004;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: #fff;
  padding: 20px;
  width: 20%;
  border-radius: 10px;
}
[type="submit"]{
  width: 85%;
  margin: 5px;
  background-color: rgb(26, 151, 224);
  color: white;
  border: none;
  border-radius: 5px;

}
input{
  padding: 10px 18px;
  margin: 10px;
}
.auth-reg-input{
  margin-bottom: 20px;
}