.form-createpost{
    background-color: #d9d7d7;
    color: black;
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    border-radius: 10px;
}
.form-createpost input{
    padding: 15px 15px;
}
.form-createpost button{
    background-color: #0081ff;
    color: white;
    width: auto;
    padding: 15px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.post-text{
    height: 150px;
}